.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #aca0a0;
    border: 1px solid #e0e0e0;
  }
  
  .table th,
  .table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .table th {
    background-color: #2c2f49;
    color: #fff;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .table tbody tr:hover {
    background-color: #ddbfbf;
  }
  
  .all-banks-container {
    display:inline-block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  
  h2 {
    font-size: 30px;
    font-style: oblique;
    color: #141d28;
    margin-top: 0; 
    margin-bottom: 5px; 
    text-align: center; 
  }
