
.loginPage {
  background :linear-gradient(rgb(49, 55, 72),rgba(84, 84, 88, 0.5)),url('bg-pic3.jpg'); 
 /* background-image: url("bg-pic3.jpg"); */
  background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .login-container {
    background-color: rgba(3, 23, 65, 0.6);
    color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
  }
  
  .login-container h2 {
    margin-bottom: 20px;
    color:aliceblue;
  }
  
  .form-control {
    border-radius: 0;
  }
  
  .btn-success {
    border-radius: 0;
  }
  
  .btn-default {
    border-radius: 0;
    background-color: #f8f9fa;
    border-color: #ccd6df;
    color: #2a2a2a;
  }

  .form-label strong {
    font-weight: bold;
    color:whitesmoke;
    display: block; 
    margin-bottom: 5px; 
  }
